*{
  padding: 0%;
  margin: 0%;
}


header > .container > .d-flex > a > h3{
  color: #FFC107;
}


.hero{
  background-image: url('../images/bg-hero.jpg');
  background-color: rgb(26, 26, 26);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  height: fit-content;
}

.col-lg-6 > .display-5{
  color: white;
}

.col-lg-6 > .lead{
  color: white;
}